@import url('https://fonts.googleapis.com/css?family=Bangers|Graduate|IBM+Plex+Mono|Passion+One');
body {
  background-color: #02c39a;
  color: white;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.welcome {
  font-family: 'Bangers', cursive;
  font-size: 20px;
  margin-top: 20px;
}
.lit {
  font-family: 'Graduate', cursive;
}
.quarterCard {
  background-color: #0fa3b1;
  max-width: 400px;
  border-radius: 5px;
  margin: 15px auto;
  box-shadow: 5px 5px 20px #05668d;
  padding: 5px;
}
.winningPerson {
  font-family: 'Passion One', cursive;
  font-size: 25px;
}
.t {
  font-family: 'IBM Plex Mono', monospace;
}
.prize {
  font-family: 'Bangers', cursive;
  font-size: 30px;
  transform: skew(-0.01turn, 1deg);
  display: inline-block;
}
.quarterName {
  font-family: 'Graduate', cursive;
}

.footer {
  margin-top: 20px;
  font-size: 15px;
}
.devgod {
  font-size: 30px;
  font-family: 'IBM Plex Mono', monospace;
}

.noWinnerYet {
  font-family: 'Passion One', cursive;
  font-size: 25px;
}

@keyframes App-logo-spin {
  0% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0.75);
  }
}
